.container {
  /* border: solid brown; */
  width: 50%;
  height: 30%;
  /* position: relative; */
  transition-duration: 1s;
  /* border: solid green; */
  position: relative;
}

.project-image {
  /* object-fit: cover;  */
  opacity: 1;
  display: block;
  width: 100%;
  transition: 1s ease;
  backface-visibility: hidden;
  /* border: solid pink; */
  position: relative;
}

@media only screen and (max-width: 768px) {
  .container {
    /* border:solid orange; */
    width: 100%;
    transition-duration: 1s;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    /* border: solid red; */
    width: 33.33%;
    transition-duration: 1s;
  }
}

.container:hover .project-image {
  opacity: 0.1;
}

.container:hover .middle {
  opacity: 1;
}

.container:hover + .middle-title {
  opacity: 1;
  transform: translateY(0);
}

.middle {
  height: 100%;
  width: 100%;
  transition: 1s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  /* transform: translate(-50%, -50%); */
  /* -ms-transform: translate(-50%, -50%); */
  text-align: center;
  /* border: solid yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.middle-title,
.middle-lang {
  margin: 10px;
  transform: translateY(100%);
  transition: transform 0.5s, opacity 0.5s;
}

.middle-title{
  font-size: 30px;
}

.middle-lang{
  color: #3eb2b2;
  padding-top: 2px;
  margin-bottom: 60px;
  font-size: 20px;
  font-weight: 500;

}

/* .text {
  background-color: #da59d4;
  color: white;
  border: solid #da59d4;
  font-size: 3vh;
  padding: 5px 10px;
}

.text:hover {
  background-color: transparent;
  border: solid #da59d4;
  color:#da59d4;
  transition-duration: 2s;
  cursor: pointer;

} */

/* CSS */
.button-6 {
  align-items: center;
  background-color: #ffffff;
  border: 3px solid #3eb2b2;

  /* border-radius: 0.25rem; */
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color:#000000;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
  margin-top: 12%;
}

.button-6:hover,
.button-6:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: #ffffff;
  background-color: #3eb2b2;

}

.button-6:hover {
  transform: translateY(-1px);
}

/* .button-6:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
} */
