.about-screen {
  /* border: solid blue; */
  height: 105vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.about-title{
  margin-bottom: 20vh;
}

.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-image {
  height: 35vh;
}

.about-underline {
 border: solid red;
 border-width: 0px 0px 3px 0px;
}

.about-word {
  margin: 0;
}

@media only screen and (min-width: 768px) {
  .about-wrapper {
    display: flex;
    flex-direction: row;
    /* border: solid green; */
    width: 90%;
    padding: 10px;
  }
  .about-items {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: solid yellow; */
    padding: 2%;
  }
}

@media only screen and (max-width: 768px) {
  .about-items {
    width: 80%;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center; */
    /* border: solid red; */
  }
}

.about-words {
  font-weight: 255;
}

