.about-wrapper {
  border: solid blue;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-image {
  height: 35vh;
}



@media only screen and (min-width: 768px) {
  .about-items {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: solid yellow;
  }
}

@media only screen and (max-width: 768px) {
  .about-items {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    border: solid red;
  }
}
