/* .modal-outside {
  display: flex;
  border: solid hotpink;
  height: 100vh;
} */

.modal-holder {
  border: solid green;
  position: fixed;
  z-index: 10;
  height: 60vh;
  width: 80vw;
  background-color: blanchedalmond;
  position: fixed;
  top: 0;
  margin-top: 20%;
}