.home-wrapper {
  /* border: solid green; */
  height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: slide-in 1s linear;
  background-color: #252934;
}

/* @keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0%);
  }
} */

.view-work-button {
  text-decoration: none;
  color: inherit;
  border: solid black;
  padding: 2%;
  transition-duration: 0.7s;
}

.view-work-button:hover {
  background-color: aqua;
 
}
