.home-wrapper {
  min-height: 99vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: sticky;
  background-attachment:fixed;
}

.all-home-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80vw;
}

.volumeMute,
.volumePlay {
  font-size: 28px;
  padding: 6px;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  cursor: pointer;
}

.view-work-button {
  text-decoration: none;
  color: inherit;
  border: solid white;
  transition-duration: 0.7s;
  color: white;
  margin-top: 25px;
  padding: 20px;
  font-weight: 800;
}

.view-work-button:hover {
  background-color: #f9a9926e;
  border: solid #f9a9926e;
  color: white;
}

.home-text {
  color: #000000;
  font-size: 5vh;
  font-weight: 550;
  margin: 0%;
  display: block;
}

.emili {
  font-size: 20vw;
  padding-bottom: 0px;
  margin: 0;
  line-height: 17vw;
}
.kaiman {
  font-size: 12vw;
  color: none;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  padding: 0px 2vw 0px 2vw;
}

.quote {
  font-size: 4vw;
  margin-bottom: 15px;
}

.refresh {
  color: white;
  font-size: 40px;
  cursor: pointer;
}

.rotate {
  transform: rotate(180deg);
  transition-duration: 0.3s;
  color: hotpink;
}

.animate-character {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #166198 0%,
    #0cc5c8 29%,
    #16c48a 67%,
    #e5df22 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 6vh;
  font-weight: 600;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.hide {
  display: none;
}
